Repository Dwarves-of-the-War-of-Horns/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

feat(config): add word for cSpell to vs settings(NO-JIRA)
  .vscode/settings.json
Due: prettier --write

feat(auth): add login for ng store(EC-30)
  src/app/auth/auth-store/auth.action.ts
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/auth-store/auth.reducer.ts
  src/app/auth/auth-store/auth.selectors.ts
Due: prettier --write, eslint --fix

feat(auth): add redirect user to home page after login(EC-29)
  src/app/auth/components/sign-in-form/sign-in-form.component.spec.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/model/auth-state.model.ts
  src/app/auth/model/sign-in-submit-form.model.ts
Due: prettier --write, eslint --fix

feat(auth): add login page (EC-94)
  .vscode/settings.json
  src/app/auth/auth-store/auth.action.ts
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/auth-store/auth.reducer.ts
  src/app/auth/auth-store/auth.selectors.ts
  src/app/auth/auth.module.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.html
  src/app/auth/components/sign-in-form/sign-in-form.component.scss
  src/app/auth/components/sign-in-form/sign-in-form.component.spec.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/model/auth-state.model.ts
  src/app/auth/model/sign-in-submit-form.model.ts
  src/app/auth/pages/sign-in/sign-in.component.html
  src/app/auth/pages/sign-in/sign-in.component.scss
  src/app/auth/pages/sign-in/sign-in.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix(commercetools): change api client builder (EC-100)
  package-lock.json
  src/app/core/commercetools/services/commercetools-http.service.ts
Due: prettier --write, eslint --fix

fix(header): change layout (NO-JIRA)
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
  src/app/core/models/page-data.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix(header): remove error from test file (NO-JIRA)
  src/app/app.component.spec.ts
Due: prettier --write, eslint --fix

fix(tests): remove imports in app module tests (NO-JIRA)
  src/app/app.component.spec.ts
Due: prettier --write, eslint --fix

refactor(header): change layout (NO-JIRA)
  src/app/app.component.spec.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
  src/app/core/models/page-data.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix(config): add common JS dependencies (NO-JIRA)
  angular.json
Due: prettier --write

fix(commercetools): change api client builder (EC-100)
  angular.json
  package-lock.json
  src/app/core/commercetools/services/commercetools-http.service.ts
Due: prettier --write, eslint --fix

refactor(commercetools): change properties naming (NO-JIRA)
  src/app/core/commercetools/commercetools-client-builder.ts
  src/app/core/commercetools/commerstools.module.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
Due: prettier --write, eslint --fix

refactor(auth): change actions, effects, reducers, selectors, add facade(NO-JIRA)
  src/app/auth/auth-store/auth.action.ts
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/auth-store/auth.facade.ts
  src/app/auth/auth-store/auth.reducer.ts
  src/app/auth/auth-store/auth.selectors.ts
  src/app/auth/auth-store/sign-in-api.actions.ts
  src/app/auth/auth-store/sign-in-page.actions.ts
  src/app/auth/auth-store/sign-up-api.actions.ts
  src/app/auth/auth-store/sign-up-page.actions.ts
Due: prettier --write, eslint --fix

refactor(auth): remove import(NO-JIRA)
  src/app/auth/auth-store/auth.facade.ts
Due: prettier --write, eslint --fix

refactor(auth): change sign-in-form(NO-JIRA)
  src/app/auth/components/sign-in-form/sign-in-form.component.html
  src/app/auth/components/sign-in-form/sign-in-form.component.spec.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.ts
Due: prettier --write, eslint --fix

refactor(auth): change sign-up-form(NO-JIRA)
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.spec.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
Due: prettier --write, eslint --fix

refactor(auth): add enum, dictionary for country(NO-JIRA)
  src/app/auth/dictionary/convert-country-format.dictionary.ts
  src/app/auth/utils/convert-country-format.ts
  src/app/auth/utils/transform-registration-submit-form.ts
  src/app/shared/enum/country.enum.ts
Due: prettier --write, eslint --fix

refactor(auth): add enum for StoreFeature(NO-JIRA)
  src/app/shared/enum/store-feature-names.enum.ts
Due: prettier --write, eslint --fix

refactor(auth): add facade for auth(NO-JIRA)
  src/app/core/core.module.ts
Due: prettier --write, eslint --fix

refactor(auth): change actions, effects, reducers, selectors, add facade (NO-JIRA)
  src/app/auth/auth-store/auth.action.ts
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/auth-store/auth.facade.ts
  src/app/auth/auth-store/auth.reducer.ts
  src/app/auth/auth-store/auth.selectors.ts
  src/app/auth/auth-store/sign-in-api.actions.ts
  src/app/auth/auth-store/sign-in-page.actions.ts
  src/app/auth/auth-store/sign-up-api.actions.ts
  src/app/auth/auth-store/sign-up-page.actions.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.html
  src/app/auth/components/sign-in-form/sign-in-form.component.spec.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.spec.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/dictionary/convert-country-format.dictionary.ts
  src/app/auth/utils/convert-country-format.ts
  src/app/auth/utils/transform-registration-submit-form.ts
  src/app/core/core.module.ts
  src/app/shared/enum/country.enum.ts
  src/app/shared/enum/store-feature-names.enum.ts
Due: prettier --write, eslint --fix

feat(root): add main page (EC-40)
  package-lock.json
  src/app/home/home-page.component.html
  src/app/home/home-page.component.scss
  src/app/home/home-page.component.spec.ts
  src/app/home/home-routing.module.ts
  src/app/home/home.module.ts
  src/app/home/home.routes.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix(home): change headers hierarchy (NO-JIRA)
  src/app/home/home-page.component.html
Due: none

feat(home): add home page (EC-40)
  src/app/home/home-page.component.html
  src/app/home/home-page.component.scss
  src/app/home/home-page.component.spec.ts
  src/app/home/home-routing.module.ts
  src/app/home/home.module.ts
  src/app/home/home.routes.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(auth): add customer request on initialization (NO-JIRA)
  src/app/auth/auth-store/auth-init-api.actions.ts
  src/app/auth/auth-store/auth-init.actions.ts
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/auth-store/auth.facade.ts
  src/app/auth/auth-store/auth.reducer.ts
  src/app/core/core.module.ts
Due: prettier --write, eslint --fix

refactor(auth): change createAction to createActionGroup (NO-JIRA)
  src/app/auth/auth-store/auth-init.actions.ts
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/auth-store/auth.facade.ts
  src/app/auth/auth-store/auth.reducer.ts
Due: prettier --write, eslint --fix

feat(auth): add style for sign-in, sign-up(NO-JIRA)
  src/app/auth/components/sign-in-form/sign-in-form.component.scss
  src/app/auth/components/sign-up-form/sign-up-form.component.scss
  src/app/auth/pages/sign-in/sign-in.component.scss
Due: prettier --write, stylelint --fix

feat(auth): add guards for sign-in and sign-up(NO-JIRA)
  src/app/auth/components/sign-up-form/sign-up-form.component.spec.ts
  src/app/auth/guards/auth.guard.spec.ts
  src/app/auth/guards/auth.guard.ts
Due: prettier --write, eslint --fix

feat(auth): add link to the login page(EC-39)
  src/app/auth/components/sign-up-form/sign-up-form.component.html
Due: none

feat(auth): add guards to auth.routes(NO-JIRA)
  src/app/auth/auth.routes.ts
Due: prettier --write, eslint --fix

feat(auth): add alerts to auth effets(NO-JIRA)
  src/app/auth/auth-store/auth.effects.ts
Due: prettier --write, eslint --fix

refactor(auth): change store to authFacade(NO-JIRA)
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
Due: prettier --write, eslint --fix

refactor(auth): change auth.facade(NO-JIRA)
  src/app/auth/auth-store/auth.facade.ts
Due: prettier --write, eslint --fix

feat(auth): add signIn to auth.reducer(NO-JIRA)
  src/app/auth/auth-store/auth.reducer.ts
Due: prettier --write, eslint --fix

refactor(auth): change sign-in-form html(NO-JIRA)
  src/app/auth/components/sign-in-form/sign-in-form.component.html
Due: none

feat(auth): add alertAuth dictionary(NO-JIRA)
  src/app/auth/dictionary/auth-alert.dictionary.ts
Due: prettier --write, eslint --fix

fix(auth): return authInitEffect(NO-JIRA)
  src/app/auth/auth-store/auth.effects.ts
Due: prettier --write, eslint --fix

fix(auth): return authInitReducer(NO-JIRA)
  src/app/auth/auth-store/auth.reducer.ts
Due: prettier --write, eslint --fix

feat(auth): add guards (NO-JIRA)
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/auth-store/auth.facade.ts
  src/app/auth/auth.routes.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.html
  src/app/auth/components/sign-in-form/sign-in-form.component.scss
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.scss
  src/app/auth/components/sign-up-form/sign-up-form.component.spec.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/dictionary/auth-alert.dictionary.ts
  src/app/auth/guards/auth.guard.spec.ts
  src/app/auth/guards/auth.guard.ts
  src/app/auth/pages/sign-in/sign-in.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.{js,ts})) or (any of: *.{css,scss})
  eslint --fix: any of: *.{js,ts}
  stylelint --fix: any of: *.{css,scss}
