Repository Dwarves-of-the-War-of-Horns/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

feat(config): remove html to prettierignore(NO-JIRA)
  .prettierignore
Due: none

feat(config): add word to vscode settings for cSpell(NO-JIRA)
  .vscode/settings.json
Due: prettier --write

feat(auth): add validation and clear error message for fields(EC-33)
  src/app/shared/constants/regExp.ts
  src/app/shared/dictionary/countryRegExpDictionary.ts
  src/app/shared/validators/birth.validator.ts
  src/app/shared/validators/email.validator.ts
  src/app/shared/validators/has-one-character.validator.ts
  src/app/shared/validators/has-one-lowercase-character.validator.ts
  src/app/shared/validators/has-one-uppercase-character.validator.ts
  src/app/shared/validators/min-character.validator.ts
  src/app/shared/validators/name.validator.ts
  src/app/shared/validators/postal-code.validator.ts
Due: prettier --write, eslint --fix

feat(config): add rule for eslintrc.json(NO-JIRA)
  .eslintrc.json
Due: prettier --write

feat(config): add dependencies for jest(NO-JIRA)
  package-lock.json
  package.json
  setup-jest.ts
Due: prettier --write, eslint --fix

feat(auth): add hits content for registration fields(NO-JIRA)
  src/app/auth/auth.module.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/pages/sign-up/sign-up.component.html
Due: prettier --write, eslint --fix

feat(auth): add fields for regiastration and validation for them(EC-32)
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/auth/auth.module.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.scss
  src/app/auth/components/sign-up-form/sign-up-form.component.spec.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/pages/sign-up/sign-up.component.html
  src/app/auth/pages/sign-up/sign-up.component.scss
  src/app/auth/pages/sign-up/sign-up.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(auth): add disable buttons status if fields no valid(EC-32)
  src/app/auth/components/sign-up-form/sign-up-form.component.html
Due: none

feat(auth): add better validators for sign-up and sign-in forms(EC-24)
  src/app/shared/constants/regExp.ts
  src/app/shared/dictionary/countryRegExpDictionary.ts
  src/app/shared/validators/birth.validator.ts
  src/app/shared/validators/has-no-spaces.validation.ts
  src/app/shared/validators/has-one-character.validator.ts
  src/app/shared/validators/has-one-lowercase-character.validator.ts
  src/app/shared/validators/has-one-number.validator.ts
  src/app/shared/validators/has-one-uppercase-character.validator.ts
  src/app/shared/validators/min-character.validator.ts
  src/app/shared/validators/postal-code.validator.ts
Due: prettier --write, eslint --fix

feat(auth): add better style for sign-up form(NO-JIRA)
  src/app/auth/pages/sign-up/sign-up.component.scss
Due: prettier --write, stylelint --fix

refactor(auth): change name for sign-up test(NO-JIRA)
  src/app/auth/components/sign-up-form/sign-up-form.component.spec.ts
Due: prettier --write, eslint --fix

feat(auth): add select different billing and shipping addresses(EC-38)
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/dictionary/toggle-enable-status-fields.dictionary.ts
  src/app/auth/utils/subscribe-to-value-changes-on-forms.utils.ts
Due: prettier --write, eslint --fix

refactor(app): applay prettier(NO-JIRA)
  src/app/app.component.html
  src/app/auth/auth.module.ts
  src/app/core/components/not-found/not-found.component.html
  src/app/core/components/not-found/not-found.component.scss
  src/index.html
Due: prettier --write, eslint --fix, stylelint --fix

refactor(app): remove ng-component(NO-JIRA)
  src/app/app.component.html
Due: none

refactor(scripts): change scripts for linters(NO-JIRA)
  package.json
Due: prettier --write

feat(auth): add ngOnDestoy for sign-up(NO-JIRA)
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/utils/subscribe-to-value-changes-on-forms.utils.ts
Due: prettier --write, eslint --fix

fix(test): set root dir for jest config(NO-JIRA)
  jest.config.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
Due: prettier --write, eslint --fix

feat(styles): change max-width for sing-up form(NO-JIRA)
  src/app/auth/pages/sign-up/sign-up.component.scss
Due: prettier --write, stylelint --fix

fix(scripts): change rules for naming conventon(NO-JIRA)
  .eslintrc.json
Due: prettier --write

feat(components): add header component (NO-JIRA)
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(header): add basic header layout (EC-44)
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.spec.ts
  src/app/core/components/header/header.component.ts
  src/assets/cart.svg
  src/assets/header.svg
Due: prettier --write, eslint --fix, stylelint --fix

fix(header): add imports to header test file (NO-JIRA)
  src/app/core/components/header/header.component.spec.ts
Due: prettier --write, eslint --fix

fix(config): make husky executable (NO-JIRA)
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat(header): add navigation (NO-JIRA)
  package-lock.json
  package.json
  setup-jest.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.spec.ts
  src/app/core/components/header/header.component.ts
  src/app/core/components/not-found/not-found.component.scss
  src/app/core/models/page-data.ts
  src/assets/cart.svg
  src/assets/icons/header.svg
Due: prettier --write, eslint --fix, stylelint --fix

feat(root): add about and catalog pages (NO-JIRA)
  src/app/about/about-page.component.html
  src/app/about/about-page.component.scss
  src/app/about/about-page.component.spec.ts
  src/app/about/about-page.component.ts
  src/app/about/about-routing.module.ts
  src/app/about/about.module.ts
  src/app/about/about.routes.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/catalog/catalog-page.component.html
  src/app/catalog/catalog-page.component.scss
  src/app/catalog/catalog-page.component.spec.ts
  src/app/catalog/catalog-page.component.ts
  src/app/catalog/catalog-routing.module.ts
  src/app/catalog/catalog.module.ts
  src/app/catalog/catalog.routes.ts
  src/app/catalog/product-details/product-details.component.html
  src/app/catalog/product-details/product-details.component.scss
  src/app/catalog/product-details/product-details.component.spec.ts
  src/app/catalog/product-details/product-details.component.ts
  src/app/core/components/header/header.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix(root): add missing modules to app testing file (NO-JIRA)
  .husky/pre-push
  package-lock.json
  package.json
  src/app/app.component.spec.ts
  src/app/app.module.ts
Due: prettier --write, eslint --fix

fix(config): change prettier & eslint setup in package.json (NO-JIRA)
  package.json
Due: prettier --write

fix(config): reinstall dependency (NO-JIRA)
  .prettierignore
  package-lock.json
  package.json
Due: prettier --write

feat(config): add word for cSpell to vscode setting(NO-JIRA)
  .vscode/settings.json
Due: prettier --write

feat(core): implements ngRx store(NO-JIRA)
  src/app/auth/auth-store/auth.action.ts
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/auth-store/auth.reducer.ts
  src/app/auth/auth-store/auth.selectors.ts
  src/app/auth/model/auth-state.model.ts
  src/app/core/core.module.ts
Due: prettier --write, eslint --fix

feat(auth): add error handling for failed registration(EC-35)
  src/app/auth/components/sign-up-form/sign-up-form.component.html
Due: none

fix(auth): change test for SingUpFormComponent(NO-JIRA)
  src/app/auth/components/sign-up-form/sign-up-form.component.spec.ts
Due: prettier --write, eslint --fix

feat(auth): add redirect users to home page after registration successful(EC-36)
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
Due: prettier --write, eslint --fix

feat(auth): add allow default address and add function convert form for request(EC-37)
  src/app/auth/dictionary/toggle-enable-status-fields.dictionary.ts
  src/app/auth/model/sign-up-submit-form.model.ts
  src/app/auth/utils/convert-country-format.ts
  src/app/auth/utils/subscribe-to-value-changes-on-forms.utils.ts
  src/app/auth/utils/transform-registration-submit-form.ts
Due: prettier --write, eslint --fix

feat(auth): add validation for the login form(EC-24)
  src/app/auth/auth.module.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.html
  src/app/auth/components/sign-in-form/sign-in-form.component.scss
  src/app/auth/components/sign-in-form/sign-in-form.component.spec.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.ts
  src/app/auth/pages/sign-in/sign-in.component.html
  src/app/auth/pages/sign-in/sign-in.component.scss
  src/app/auth/pages/sign-in/sign-in.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(auth): add error message for login form(EC-25)
  src/app/auth/components/sign-in-form/sign-in-form.component.html
Due: none

feat(auth): add lint to registration page(EC-31)
  src/app/auth/components/sign-in-form/sign-in-form.component.html
Due: none

feat(auth): add errors for failed login(EC-27)
  src/app/auth/components/sign-in-form/sign-in-form.component.html
Due: none

feat(header): add header (EC-44)
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
  src/app/about/about-page.component.html
  src/app/about/about-page.component.scss
  src/app/about/about-page.component.spec.ts
  src/app/about/about-page.component.ts
  src/app/about/about-routing.module.ts
  src/app/about/about.module.ts
  src/app/about/about.routes.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/app.routes.ts
  src/app/catalog/catalog-page.component.html
  src/app/catalog/catalog-page.component.scss
  src/app/catalog/catalog-page.component.spec.ts
  src/app/catalog/catalog-page.component.ts
  src/app/catalog/catalog-routing.module.ts
  src/app/catalog/catalog.module.ts
  src/app/catalog/catalog.routes.ts
  src/app/catalog/product-details/product-details.component.html
  src/app/catalog/product-details/product-details.component.scss
  src/app/catalog/product-details/product-details.component.spec.ts
  src/app/catalog/product-details/product-details.component.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.spec.ts
  src/app/core/components/header/header.component.ts
  src/app/core/components/not-found/not-found.component.scss
  src/app/core/models/page-data.ts
  src/assets/icons/header.svg
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.{js,ts})) or (any of: *.{css,scss})
  eslint --fix: any of: *.{js,ts}
  stylelint --fix: any of: *.{css,scss}
