Repository Dwarves-of-the-War-of-Horns/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

feat(about): add collaborators introduction (EC-127)
  src/app/about/about-page.component.html
  src/app/about/about-page.component.scss
  src/app/about/about-page.component.ts
  src/app/about/about.module.ts
  src/app/about/models/collaborator.model.ts
  src/app/about/pipes/extract-github-nick.pipe.spec.ts
  src/app/about/pipes/extract-github-nick.pipe.ts
  src/assets/icons/andrysha.webp
  src/assets/icons/egor.webp
  src/assets/icons/kristina.webp
Due: prettier --write, eslint --fix, stylelint --fix

refactor(about): add imports to test file (NO-JIRA)
  src/app/about/about-page.component.spec.ts
Due: prettier --write, eslint --fix

refactor(about): extract collaborators list to new component (NO-JIRA)
  src/app/about/about-page.component.html
  src/app/about/about-page.component.scss
  src/app/about/about-page.component.spec.ts
  src/app/about/about-page.component.ts
  src/app/about/about.module.ts
  src/app/about/components/collaborators-list/collaborators-list.component.html
  src/app/about/components/collaborators-list/collaborators-list.component.scss
  src/app/about/components/collaborators-list/collaborators-list.component.spec.ts
  src/app/about/components/collaborators-list/collaborators-list.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(about): add course logo (EC-136)
  src/app/about/about-page.component.html
  src/app/about/about-page.component.spec.ts
  src/app/about/about.module.ts
  src/app/about/components/collaborators-list/collaborators-list.component.scss
  src/app/about/components/course-logo/course-logo.component.html
  src/app/about/components/course-logo/course-logo.component.scss
  src/app/about/components/course-logo/course-logo.component.spec.ts
  src/app/about/components/course-logo/course-logo.component.ts
  src/assets/icons/rs-logo.webp
Due: prettier --write, eslint --fix, stylelint --fix

refactor(about): format html files (NO-JIRA)
  src/app/about/about-page.component.html
  src/app/about/components/collaborators-list/collaborators-list.component.html
  src/app/about/components/course-logo/course-logo.component.html
  src/app/cart/components/order-items/order-items.component.html
Due: none

refactor(about): add alt attributes to img tags (NO-JIRA)
  src/app/about/components/collaborators-list/collaborators-list.component.html
  src/app/about/components/course-logo/course-logo.component.html
Due: none

feat(about): add about us page (EC-127)
  src/app/about/about-page.component.html
  src/app/about/about-page.component.spec.ts
  src/app/about/about.module.ts
  src/app/about/components/collaborators-list/collaborators-list.component.html
  src/app/about/components/collaborators-list/collaborators-list.component.scss
  src/app/about/components/collaborators-list/collaborators-list.component.spec.ts
  src/app/about/components/collaborators-list/collaborators-list.component.ts
  src/app/about/components/course-logo/course-logo.component.html
  src/app/about/components/course-logo/course-logo.component.scss
  src/app/about/components/course-logo/course-logo.component.spec.ts
  src/app/about/components/course-logo/course-logo.component.ts
  src/app/about/models/collaborator.model.ts
  src/app/about/pipes/extract-github-nick.pipe.spec.ts
  src/app/about/pipes/extract-github-nick.pipe.ts
  src/app/cart/components/order-items/order-items.component.html
  src/assets/icons/andrysha.webp
  src/assets/icons/egor.webp
  src/assets/icons/kristina.webp
  src/assets/icons/rs-logo.webp
Due: prettier --write, eslint --fix, stylelint --fix

feat(scripts): add word for cSpell(NO-JIRA)
  .vscode/settings.json
Due: prettier --write

feat(catalog): add pagination component(NO-JIRA)
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/pagination/pagination.component.html
  src/app/catalog/components/pagination/pagination.component.scss
  src/app/catalog/components/pagination/pagination.component.spec.ts
  src/app/catalog/components/pagination/pagination.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(catalog): change filterParams to queryParams(NO-JIRA)
  src/app/catalog/catalog-store/actions/catalog-page.actions.ts
  src/app/catalog/catalog-store/catalog-store.reducer.ts
  src/app/catalog/catalog-store/catalog-store.selectors.ts
  src/app/catalog/catalog-store/services/catalog.facade.ts
  src/app/catalog/components/products-list/products-list.component.spec.ts
  src/app/catalog/models/catalog-state.model.ts
  src/app/catalog/models/products-state.model.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.spec.ts
  src/app/catalog/services/catalog-http.service.ts
  src/app/catalog/services/catalog-url.service.spec.ts
  src/app/core/commercetools/enums/catalog-pagination.enum.ts
  src/app/core/commercetools/helpers/convert-response-params-to-filter-params.helper.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
  src/app/core/commercetools/services/commercetools.service.ts
  src/app/shared/models/converted-products-state.model.ts
  src/app/shared/models/filter-params.model.ts
  src/app/shared/models/query-params.model.ts
Due: prettier --write, eslint --fix

refactor(catalog): change tui pagination to ec-pagination component(NO-JIRA)
  src/app/catalog/components/products-list/products-list.component.html
  src/app/catalog/components/products-list/products-list.component.ts
Due: prettier --write, eslint --fix

refactor(catalog): add variable convertParams for readability(NO-JIRA)
  src/app/catalog/pages/catalog-page/catalog-page.component.ts
Due: prettier --write, eslint --fix

feat(cart): add products links & ngOptimizedImages (EC-118)
  src/app/cart/cart.module.ts
  src/app/cart/components/order-items/order-items.component.html
  src/app/cart/components/order-items/order-items.component.scss
  src/app/cart/components/order-items/order-items.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(cart): rename components (NO-JIRA)
  src/app/cart/cart-page.component.html
  src/app/cart/cart-page.component.spec.ts
  src/app/cart/cart.module.ts
  src/app/cart/components/cart-items/cart-items.component.html
  src/app/cart/components/cart-items/cart-items.component.scss
  src/app/cart/components/cart-items/cart-items.component.spec.ts
  src/app/cart/components/cart-items/cart-items.component.ts
  src/app/cart/components/order-inputs/order-inputs.component.html
Due: prettier --write, eslint --fix, stylelint --fix

feat(cart): add single product removal (EC-120)
  src/app/cart/cart-page.component.html
  src/app/cart/cart-page.component.scss
  src/app/cart/cart-page.component.spec.ts
  src/app/cart/cart-page.component.ts
  src/app/cart/cart-store/actions/cart-page.actions.ts
  src/app/cart/cart-store/cart-store.effects.ts
  src/app/cart/cart-store/cart-store.reducer.ts
  src/app/cart/cart-store/services/cart.facade.ts
  src/app/cart/cart.module.ts
  src/app/cart/components/cart-items/cart-items.component.html
  src/app/cart/components/cart-items/cart-items.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(cart): add clear cart action (EC-126)
  src/app/cart/cart-store/actions/cart-page.actions.ts
  src/app/cart/cart-store/cart-store.effects.ts
  src/app/cart/cart-store/services/cart.facade.ts
  src/app/cart/components/cart-items/cart-items.component.html
  src/app/cart/components/cart-items/cart-items.component.scss
  src/app/cart/components/cart-items/cart-items.component.ts
  src/app/shared/helpers/isNotNullOrUndefined.helper.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(cart): add empty cart component (EC-122)
  src/app/cart/cart-page.component.html
  src/app/cart/cart-page.component.spec.ts
  src/app/cart/cart.module.ts
  src/app/cart/components/cart-items/cart-items.component.ts
  src/app/cart/components/empty-cart/empty-cart.component.html
  src/app/cart/components/empty-cart/empty-cart.component.scss
  src/app/cart/components/empty-cart/empty-cart.component.spec.ts
  src/app/cart/components/empty-cart/empty-cart.component.ts
  src/app/cart/components/order-inputs/order-inputs.component.ts
  src/assets/icons/empty-cart.svg
Due: prettier --write, eslint --fix, stylelint --fix

test(cart): add missing imports (EC-123)
  src/app/cart/cart-page.component.spec.ts
  src/app/cart/components/empty-cart/empty-cart.component.spec.ts
Due: prettier --write, eslint --fix

feat(cart): add changing items quantity functionality (EC-119)
  src/app/cart/cart-store/actions/cart-page.actions.ts
  src/app/cart/cart-store/cart-store.effects.ts
  src/app/cart/cart-store/cart-store.reducer.ts
  src/app/cart/cart-store/services/cart.facade.ts
  src/app/cart/components/cart-items/cart-items.component.html
  src/app/cart/components/cart-items/cart-items.component.ts
  src/app/cart/components/order-inputs/order-inputs.component.html
Due: prettier --write, eslint --fix

feat(cart): add ability to apply discount code (EC-119)
  src/app/cart/cart-store/actions/cart-page.actions.ts
  src/app/cart/cart-store/cart-store.effects.ts
  src/app/cart/cart-store/cart-store.reducer.ts
  src/app/cart/cart-store/services/cart.facade.ts
  src/app/cart/cart.module.ts
  src/app/cart/components/cart-total/cart-total.component.html
  src/app/cart/components/cart-total/cart-total.component.scss
  src/app/cart/components/cart-total/cart-total.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(cart): add discount codes view (EC-124)
  src/app/cart/cart-page.component.html
  src/app/cart/cart-page.component.spec.ts
  src/app/cart/cart-store/actions/cart-api.actions.ts
  src/app/cart/cart-store/actions/cart-page.actions.ts
  src/app/cart/cart-store/cart-store.effects.ts
  src/app/cart/cart-store/cart-store.reducer.ts
  src/app/cart/cart-store/cart-store.selectors.ts
  src/app/cart/cart-store/services/cart.facade.ts
  src/app/cart/cart.module.ts
  src/app/cart/components/cart-total/cart-total.component.html
  src/app/cart/components/cart-total/cart-total.component.scss
  src/app/cart/components/cart-total/cart-total.component.spec.ts
  src/app/cart/components/cart-total/cart-total.component.ts
  src/app/cart/components/order-inputs/order-inputs.component.html
  src/app/cart/components/order-inputs/order-inputs.component.ts
  src/app/cart/models/cart-state.ts
  src/app/core/commercetools/helpers/convert-cart-to-simple-cart.helper.ts
  src/app/core/commercetools/helpers/convert-discount-code-to-simple-discount.helper.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
  src/app/core/commercetools/services/commercetools.service.ts
  src/app/shared/models/simple-cart.model.ts
  src/app/shared/models/simple-discounts.model.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(cart): add initial price & discount value (EC-125)
  src/app/cart/cart-store/cart-store.selectors.ts
  src/app/cart/cart-store/services/cart.facade.ts
  src/app/cart/components/cart-total/cart-total.component.html
  src/app/cart/components/cart-total/cart-total.component.scss
  src/app/cart/components/cart-total/cart-total.component.spec.ts
  src/app/cart/components/cart-total/cart-total.component.ts
  src/app/core/commercetools/helpers/convert-line-item-to-cart-product.helper.ts
  src/app/shared/models/cart-product.model.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(home): add promocodes list (EC-124)
  src/app/cart/cart-store/actions/home-page.actions.ts
  src/app/cart/cart-store/cart-store.effects.ts
  src/app/cart/cart-store/cart-store.reducer.ts
  src/app/cart/cart-store/services/cart.facade.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
  src/app/core/commercetools/services/commercetools.service.ts
  src/app/home/home-page.component.html
  src/app/home/home-page.component.scss
  src/app/home/home-page.component.spec.ts
  src/app/home/home-page.component.ts
  src/app/home/home.module.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(cart): add confirmation prompt before clear (EC-126)
  src/app/cart/cart-page.component.spec.ts
  src/app/cart/cart.module.ts
  src/app/cart/components/cart-items/cart-items.component.html
  src/app/cart/components/cart-items/cart-items.component.spec.ts
  src/app/cart/components/cart-items/cart-items.component.ts
Due: prettier --write, eslint --fix

feat(user): add better styles for user(NO-JIRA)
  src/app/user/components/user-addresses/user-addresses.component.html
  src/app/user/components/user-addresses/user-addresses.component.scss
  src/app/user/components/user-information/user-information.component.html
  src/app/user/components/user-information/user-information.component.scss
Due: prettier --write, stylelint --fix

feat(app): add TuiLink and TuiIsland modules(NO-JIRA)
  src/app/about/about.module.ts
  src/app/auth/auth.module.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.spec.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.spec.ts
  src/app/auth/pages/sign-in/sign-in.component.spec.ts
  src/app/auth/pages/sign-up/sign-up.component.spec.ts
Due: prettier --write, eslint --fix

feat(about): add TuiLink(NO-JIRA)
  src/app/about/components/collaborators-list/collaborators-list.component.html
Due: none

feat(auth): add TuiIsland, TuiLink and better styles(NO-JIRA)
  src/app/auth/components/sign-in-form/sign-in-form.component.html
  src/app/auth/components/sign-in-form/sign-in-form.component.scss
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.scss
  src/app/auth/pages/sign-up/sign-up.component.scss
Due: prettier --write, stylelint --fix

feat(auth): change validation for forms(NO-JIRA)
  src/app/auth/components/sign-in-form/sign-in-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/shared/validators/has-one-character.validator.ts
  src/app/shared/validators/min-character.validator.ts
Due: prettier --write, eslint --fix

feat(catalog): add tests for catalog-url.service(NO-JIRA)
  src/app/catalog/services/catalog-url.service.spec.ts
Due: prettier --write, eslint --fix

feat(core): add alt name for svg on header(NO-JIRA)
  src/app/core/components/header/header.component.html
Due: none

refactor(app): refactor links & validation (NO-JIRA)
  src/app/about/about.module.ts
  src/app/about/components/collaborators-list/collaborators-list.component.html
  src/app/auth/auth.module.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.html
  src/app/auth/components/sign-in-form/sign-in-form.component.scss
  src/app/auth/components/sign-in-form/sign-in-form.component.spec.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.scss
  src/app/auth/components/sign-up-form/sign-up-form.component.spec.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/pages/sign-in/sign-in.component.spec.ts
  src/app/auth/pages/sign-up/sign-up.component.scss
  src/app/auth/pages/sign-up/sign-up.component.spec.ts
  src/app/catalog/services/catalog-url.service.spec.ts
  src/app/core/components/header/header.component.html
  src/app/shared/validators/has-one-character.validator.ts
  src/app/shared/validators/min-character.validator.ts
  src/app/user/components/user-addresses/user-addresses.component.html
  src/app/user/components/user-addresses/user-addresses.component.scss
  src/app/user/components/user-information/user-information.component.html
  src/app/user/components/user-information/user-information.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

feat(catalog): add pagination (EC-115)
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/breadcrumps/breadcrumps.component.html
  src/app/catalog/components/breadcrumps/breadcrumps.component.spec.ts
  src/app/catalog/components/catalog-form/catalog-form.component.ts
  src/app/catalog/components/categories-list/categories-list.component.html
  src/app/catalog/pages/catalog-page/catalog-page.component.html
  src/app/catalog/pages/catalog-page/catalog-page.component.spec.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.ts
  src/app/catalog/services/catalog-query-params.service.ts
Due: prettier --write, eslint --fix

feat(catalog): add pages in store & load products methods (EC-115)
  src/app/catalog/catalog-store/actions/catalog-api.actions.ts
  src/app/catalog/catalog-store/actions/catalog-page.actions.ts
  src/app/catalog/catalog-store/catalog-store.effects.ts
  src/app/catalog/catalog-store/catalog-store.reducer.ts
  src/app/catalog/catalog-store/catalog-store.selectors.ts
  src/app/catalog/catalog-store/services/catalog.facade.ts
  src/app/catalog/models/catalog-state.model.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.ts
  src/app/catalog/services/catalog-http.service.ts
  src/app/core/commercetools/constants/commercetools-catalog-limit.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
  src/app/core/commercetools/services/commercetools.service.ts
  src/app/shared/models/paged-products.model.ts
Due: prettier --write, eslint --fix

refactor(catalog): refactor pagination (NO-JIRA)
  src/app/catalog/components/catalog-form/catalog-form.component.spec.ts
  src/app/catalog/components/catalog-form/catalog-form.component.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.spec.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.ts
  src/app/catalog/services/catalog-query-params.service.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
Due: prettier --write, eslint --fix

refactor(cart): add trackBy in totals (NO-JIRA)
  src/app/cart/components/cart-total/cart-total.component.html
  src/app/cart/components/cart-total/cart-total.component.ts
Due: prettier --write, eslint --fix

feat(catalog): add pagination (EC-115)
  src/app/cart/components/cart-total/cart-total.component.html
  src/app/cart/components/cart-total/cart-total.component.ts
  src/app/catalog/catalog-store/actions/catalog-api.actions.ts
  src/app/catalog/catalog-store/actions/catalog-page.actions.ts
  src/app/catalog/catalog-store/catalog-store.effects.ts
  src/app/catalog/catalog-store/catalog-store.reducer.ts
  src/app/catalog/catalog-store/catalog-store.selectors.ts
  src/app/catalog/catalog-store/services/catalog.facade.ts
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/breadcrumps/breadcrumps.component.html
  src/app/catalog/components/breadcrumps/breadcrumps.component.spec.ts
  src/app/catalog/components/catalog-form/catalog-form.component.spec.ts
  src/app/catalog/components/catalog-form/catalog-form.component.ts
  src/app/catalog/components/categories-list/categories-list.component.html
  src/app/catalog/models/catalog-state.model.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.html
  src/app/catalog/pages/catalog-page/catalog-page.component.spec.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.ts
  src/app/catalog/services/catalog-http.service.ts
  src/app/core/commercetools/constants/commercetools-catalog-limit.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
  src/app/core/commercetools/services/commercetools.service.ts
  src/app/shared/models/paged-products.model.ts
Due: prettier --write, eslint --fix

refactor(about): change info (NO-JIRA)
  src/app/about/components/collaborators-list/collaborators-list.component.ts
Due: prettier --write, eslint --fix

refactor(shared): change validators error messages (NO-JIRA)
  src/app/shared/validators/birth.validator.ts
  src/app/shared/validators/has-no-spaces.validation.ts
  src/app/shared/validators/has-no-spaces.validator.ts
  src/app/shared/validators/has-one-character.validator.ts
  src/app/shared/validators/has-one-lowercase-character.validator.ts
  src/app/shared/validators/has-one-number.validator.ts
  src/app/shared/validators/has-one-uppercase-character.validator.ts
  src/app/shared/validators/min-character.validator.ts
  src/app/shared/validators/name.validator.ts
  src/app/shared/validators/postal-code.validator.ts
  src/app/shared/validators/repeat-password.validator.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.{js,ts})) or (any of: *.{css,scss})
  eslint --fix: any of: *.{js,ts}
  stylelint --fix: any of: *.{css,scss}
