Repository Dwarves-of-the-War-of-Horns/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

feat(auth): add logout (EC-46)
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/auth-store/auth.facade.ts
  src/app/auth/auth-store/auth.reducer.ts
  src/app/auth/auth-store/logout.actions.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
Due: prettier --write, eslint --fix

feat(header): add logout functionality(EC-46)
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.ts
Due: prettier --write, eslint --fix

test(header): add provider for auth facade (EC-46)
  src/app/core/components/header/header.component.spec.ts
Due: prettier --write, eslint --fix

feat(auth): add logout (EC-46)
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/auth-store/auth.facade.ts
  src/app/auth/auth-store/auth.reducer.ts
  src/app/auth/auth-store/logout.actions.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.spec.ts
  src/app/core/components/header/header.component.ts
Due: prettier --write, eslint --fix

feat(root): add user path (NO-JIRA)
  src/app/app.routes.ts
  src/app/cart/cart-routing.module.ts
  src/app/cart/cart.module.ts
  src/app/cart/cart.routes.ts
  src/app/user/user-routing.module.ts
  src/app/user/user.component.html
  src/app/user/user.component.scss
  src/app/user/user.component.spec.ts
  src/app/user/user.component.ts
  src/app/user/user.module.ts
  src/app/user/user.routes.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(routing): update paths (NO-JIRA)
  src/app/app.routes.ts
  src/app/cart/cart-routing.module.ts
  src/app/cart/cart.module.ts
  src/app/cart/cart.routes.ts
  src/app/user/user-routing.module.ts
  src/app/user/user.component.html
  src/app/user/user.component.scss
  src/app/user/user.component.spec.ts
  src/app/user/user.component.ts
  src/app/user/user.module.ts
  src/app/user/user.routes.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix(main): rewrite layout using grid (NO-JIRA)
  src/app/home/home-page.component.html
  src/app/home/home-page.component.scss
  src/app/home/home-page.component.spec.ts
  src/app/home/home.module.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(home): change layout (NO-JIRA)
  src/app/home/home-page.component.html
  src/app/home/home-page.component.scss
  src/app/home/home-page.component.spec.ts
  src/app/home/home.module.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(auth): add alertAuth to effects(NO-JIRA)
  src/app/auth/auth-store/auth.effects.ts
Due: prettier --write, eslint --fix

refactor(auth): remove tui-error(NO-JIRA)
  src/app/auth/components/sign-in-form/sign-in-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.html
Due: none

refactor(auth): remove no usage import and variables(NO-JIRA)
  src/app/auth/components/sign-in-form/sign-in-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
Due: prettier --write, eslint --fix

feat(auth): add error message for alert dictionary(NO-JIRA)
  src/app/auth/dictionary/auth-alert.dictionary.ts
Due: prettier --write, eslint --fix

feat(auth): add clear error message for alerts(NO-JIRA)
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/dictionary/auth-alert.dictionary.ts
Due: prettier --write, eslint --fix

fix(home): change home layout (NO-JIRA)
  src/app/home/home-page.component.html
  src/app/home/home-page.component.scss
Due: prettier --write, stylelint --fix

feat(auth): add clear error message for alerts (NO-JIRA)
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.html
  src/app/auth/components/sign-in-form/sign-in-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/dictionary/auth-alert.dictionary.ts
Due: prettier --write, eslint --fix

refactor(home): change home layout (NO-JIRA)
  src/app/home/home-page.component.html
  src/app/home/home-page.component.scss
Due: prettier --write, stylelint --fix

refactor(header): change auth related buttons (NO-JIRA)
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(routing): add better guard(EC-29)
  src/app/app-routing.module.ts
  src/app/app.routes.ts
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/auth.routes.ts
  src/app/auth/guards/auth.guard.spec.ts
  src/app/auth/guards/auth.guard.ts
Due: prettier --write, eslint --fix

refactor(header): change navigation links (NO-JIRA)
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.spec.ts
  src/app/core/components/header/header.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(config): add favicon (NO-JIRA)
  src/favicon.ico
Due: none

refactor(header): change layout (NO-JIRA)
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.spec.ts
  src/app/core/components/header/header.component.ts
  src/favicon.ico
Due: prettier --write, eslint --fix, stylelint --fix

feat(routing): add better guard (EC-29)
  src/app/app-routing.module.ts
  src/app/app.routes.ts
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/auth.routes.ts
  src/app/auth/guards/auth.guard.spec.ts
  src/app/auth/guards/auth.guard.ts
Due: prettier --write, eslint --fix

refactor(commercetools): remove logger middleware (NO-JIRA)
  src/app/core/commercetools/commercetools-client-builder.ts
Due: prettier --write, eslint --fix

refactor(header): add titles to links (NO-JIRA)
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
Due: prettier --write, stylelint --fix

refactor(home): change icons and links text (NO-JIRA)
  src/app/home/home-page.component.html
Due: none

refactor(header): add link titles (NO-JIRA)
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/home/home-page.component.html
Due: prettier --write, stylelint --fix

fix(auth): change guards(EC-29)
  src/app/auth/auth-store/auth.selectors.ts
  src/app/auth/guards/auth.guard.ts
Due: prettier --write, eslint --fix

fix(auth): change noSpace validator for emails inputs(NO-JIRA)
  src/app/auth/components/sign-in-form/sign-in-form.component.html
  src/app/auth/components/sign-in-form/sign-in-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
Due: prettier --write, eslint --fix

fix(auth): change postal code validator(NO-JIRA)
  src/app/shared/enum/form-value.enum.ts
  src/app/shared/validators/postal-code.validator.ts
Due: prettier --write, eslint --fix

refactor(auth): add unsubscribe for alertsService(NO-JIRA)
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/dictionary/auth-alert.dictionary.ts
Due: prettier --write, eslint --fix

fix(auth): change validation priority and fix trackByFn(NO-JIRA)
  src/app/auth/components/sign-in-form/sign-in-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
Due: prettier --write, eslint --fix

refactor(auth): add enums(NO-JIRA)
  src/app/auth/dictionary/auth-alert.dictionary.ts
  src/app/shared/enum/alets-status.enum.ts
  src/app/shared/validators/postal-code.validator.ts
Due: prettier --write, eslint --fix

fix(auth): change postal code validator (NO-JIRA)
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/dictionary/auth-alert.dictionary.ts
  src/app/shared/enum/alets-status.enum.ts
  src/app/shared/enum/form-value.enum.ts
  src/app/shared/validators/postal-code.validator.ts
Due: prettier --write, eslint --fix

fix(auth): add replaceUrl after successful sign in/up (NO-JIRA)
  src/app/auth/auth-store/auth.effects.ts
Due: prettier --write, eslint --fix

fix(auth): change validation (NO-JIRA)
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/dictionary/auth-alert.dictionary.ts
  src/app/shared/enum/alets-status.enum.ts
  src/app/shared/enum/form-value.enum.ts
  src/app/shared/validators/postal-code.validator.ts
Due: prettier --write, eslint --fix

refactor(commercetools): change properties naming (NO-JIRA)
  src/app/core/commercetools/commercetools-tokenstorage.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.{js,ts})) or (any of: *.{css,scss})
  eslint --fix: any of: *.{js,ts}
  stylelint --fix: any of: *.{css,scss}
