Repository Dwarves-of-the-War-of-Horns/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

refactor(commercetools): move categories convertation to helpers (NO-JIRA)
  src/app/core/commercetools/helpers/array-to-tree.helper.ts
  src/app/core/commercetools/helpers/convert-category-to-simple-category.helper.ts
  src/app/core/commercetools/services/commercetools.service.ts
Due: prettier --write, eslint --fix

refactor(catalog): change module structure (NO-JIRA)
  src/app/catalog/catalog.module.ts
  src/app/catalog/catalog.routes.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.html
  src/app/catalog/pages/catalog-page/catalog-page.component.scss
  src/app/catalog/pages/catalog-page/catalog-page.component.spec.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.ts
  src/app/catalog/pages/product-details/product-details.component.html
  src/app/catalog/pages/product-details/product-details.component.scss
  src/app/catalog/pages/product-details/product-details.component.spec.ts
  src/app/catalog/pages/product-details/product-details.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(catalog): add catalog store (EC-54)
  src/app/catalog/catalog-store/actions/catalog-api.actions.ts
  src/app/catalog/catalog-store/actions/catalog-page.actions.ts
  src/app/catalog/catalog-store/catalog-store.effects.ts
  src/app/catalog/catalog-store/catalog-store.module.ts
  src/app/catalog/catalog-store/catalog-store.reducer.ts
  src/app/catalog/catalog-store/catalog-store.selectors.ts
  src/app/catalog/catalog-store/services/catalog.facade.ts
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/categories-list/categories-list.component.html
  src/app/catalog/components/categories-list/categories-list.component.scss
  src/app/catalog/components/categories-list/categories-list.component.spec.ts
  src/app/catalog/components/categories-list/categories-list.component.ts
  src/app/catalog/models/catalog-state.model.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.html
  src/app/catalog/services/catalog-http.service.ts
  src/app/shared/enums/store-feature-names.enum.ts
Due: prettier --write, eslint --fix, stylelint --fix

test(catalog): add missing imports (NO-JIRA)
  src/app/catalog/components/categories-list/categories-list.component.spec.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.spec.ts
Due: prettier --write, eslint --fix

feat(categories): add custom tree view (NO-JIRA)
  package-lock.json
  package.json
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/categories-list/categories-list.component.html
  src/app/catalog/components/categories-list/categories-list.component.scss
  src/app/catalog/components/categories-list/categories-list.component.ts
  src/app/catalog/components/tree/tree.component.html
  src/app/catalog/components/tree/tree.component.scss
  src/app/catalog/components/tree/tree.component.spec.ts
  src/app/catalog/components/tree/tree.component.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.html
Due: prettier --write, eslint --fix, stylelint --fix

refactor(categories): change styles (NO-JIRA)
  src/app/catalog/components/categories-list/categories-list.component.html
  src/app/catalog/components/categories-list/categories-list.component.scss
  src/app/catalog/components/categories-list/categories-list.component.spec.ts
  src/app/catalog/components/categories-list/categories-list.component.ts
  src/app/catalog/components/tree/tree.component.scss
  src/app/catalog/components/tree/tree.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(categories): change link in import (NO-JIRA)
  src/app/catalog/catalog-store/catalog-store.selectors.ts
Due: prettier --write, eslint --fix

feat(categories): add categories tree (EC-54)
  package-lock.json
  package.json
  src/app/catalog/catalog-page.component.html
  src/app/catalog/catalog-store/actions/catalog-api.actions.ts
  src/app/catalog/catalog-store/actions/catalog-page.actions.ts
  src/app/catalog/catalog-store/catalog-store.effects.ts
  src/app/catalog/catalog-store/catalog-store.module.ts
  src/app/catalog/catalog-store/catalog-store.reducer.ts
  src/app/catalog/catalog-store/catalog-store.selectors.ts
  src/app/catalog/catalog-store/services/catalog.facade.ts
  src/app/catalog/catalog.module.ts
  src/app/catalog/catalog.routes.ts
  src/app/catalog/components/categories-list/categories-list.component.html
  src/app/catalog/components/categories-list/categories-list.component.scss
  src/app/catalog/components/categories-list/categories-list.component.ts
  src/app/catalog/components/tree/tree.component.html
  src/app/catalog/components/tree/tree.component.scss
  src/app/catalog/components/tree/tree.component.ts
  src/app/catalog/models/catalog-state.model.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.html
  src/app/catalog/pages/catalog-page/catalog-page.component.scss
  src/app/catalog/pages/catalog-page/catalog-page.component.spec.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.ts
  src/app/catalog/pages/product-details/product-details.component.html
  src/app/catalog/pages/product-details/product-details.component.scss
  src/app/catalog/pages/product-details/product-details.component.spec.ts
  src/app/catalog/pages/product-details/product-details.component.ts
  src/app/catalog/services/catalog-http.service.ts
  src/app/core/commercetools/helpers/array-to-tree.helper.ts
  src/app/core/commercetools/helpers/convert-category-to-simple-category.helper.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
  src/app/core/commercetools/services/commercetools.service.ts
  src/app/shared/constants/locale.ts
  src/app/shared/enums/store-feature-names.enum.ts
  src/app/shared/models/simple-category.model.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix(root): extract product details to it's own feature (NO-JIRA)
  src/app/app.component.html
  src/app/auth/pages/sign-in/sign-in.component.html
  src/app/catalog/catalog-store/catalog-store.module.ts
  src/app/catalog/catalog.module.ts
  src/app/catalog/catalog.routes.ts
  src/app/catalog/pages/product-details/product-details.component.ts
  src/app/product-details/components/product-details/product-details.component.html
  src/app/product-details/components/product-details/product-details.component.scss
  src/app/product-details/components/product-details/product-details.component.spec.ts
  src/app/product-details/components/product-details/product-details.component.ts
  src/app/product-details/product-details-routing.module.ts
  src/app/product-details/product-details.module.ts
  src/app/product-details/product-details.routes.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(user): add user profile page(EC-60)
  src/app/user/components/user-information/user-information.component.html
  src/app/user/components/user-information/user-information.component.scss
Due: prettier --write, stylelint --fix

feat(user): add user friendly interface for change profile(EC-61)
  src/app/user/components/user-information/user-information.component.spec.ts
  src/app/user/components/user-information/user-information.component.ts
Due: prettier --write, eslint --fix

feat(user): add user can change password(EC-63)
  src/app/auth/auth-store/actions/change-password-api.action.ts
  src/app/auth/auth-store/actions/change-password-page.action.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
  src/app/core/commercetools/services/commercetools.service.ts
Due: prettier --write, eslint --fix

feat(user): add user can change addresses(EC-64)
  src/app/user/components/user-addresses/user-addresses.component.html
  src/app/user/components/user-addresses/user-addresses.component.scss
  src/app/user/components/user-addresses/user-addresses.component.spec.ts
  src/app/user/components/user-addresses/user-addresses.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(user): add edit mode for user(EC-62)
  src/app/user/user.component.html
  src/app/user/user.component.scss
  src/app/user/user.component.spec.ts
  src/app/user/user.module.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(user): add guard for user(NO-JIRA)
  src/app/app.routes.ts
  src/app/user/guards/user.guard.spec.ts
  src/app/user/guards/user.guard.ts
Due: prettier --write, eslint --fix

feat(user): add change password and user for store(NO-JIRA)
  src/app/auth/auth-store/actions/update-customer-api.actions.ts
  src/app/auth/auth-store/actions/update-customer-page.action.ts
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/auth-store/auth.facade.ts
  src/app/auth/auth-store/auth.reducer.ts
Due: prettier --write, eslint --fix

feat(user): add models for user(NO-JIRA)
  src/app/user/models/passwordForm.model.ts
  src/app/user/models/submit-form-action-dictionary.model.ts
  src/app/user/models/transform-address-submit-form.model.ts
  src/app/user/models/user-address.model.ts
  src/app/user/models/user-information.model.ts
Due: prettier --write, eslint --fix

feat(user): add constant for user(NO-JIRA)
  src/app/user/constants/submit-form-actions.constant.ts
Due: prettier --write, eslint --fix

feat(user): add utils for user(NO-JIRA)
  src/app/user/utils/transform-address-submit-form.util.ts
  src/app/user/utils/transform-information-submit-form.util.ts
Due: prettier --write, eslint --fix

feat(user): add type for user(NO-JIRA)
  src/app/user/types/address-action-submit-form.type.ts
Due: prettier --write, eslint --fix

feat(user): remove placeholder for password, add better infor for hint(NO-JIRA)
  src/app/user/components/user-information/user-information.component.html
Due: none

fix(catalog): change path for StoreFeatureNames(NO-JIRA)
  src/app/catalog/catalog-store/catalog-store.module.ts
Due: prettier --write, eslint --fix

refactor(user): change reducer(NO-JIRA)
  src/app/auth/auth-store/auth.reducer.ts
  src/app/catalog/components/categories-list/categories-list.component.html
Due: prettier --write, eslint --fix

fix(catalog): return value(NO-JIRA)
  src/app/catalog/components/categories-list/categories-list.component.html
Due: none

feat(user): add user profile page (EC-60)
  src/app/app.routes.ts
  src/app/auth/auth-store/actions/change-password-api.action.ts
  src/app/auth/auth-store/actions/change-password-page.action.ts
  src/app/auth/auth-store/actions/update-customer-api.actions.ts
  src/app/auth/auth-store/actions/update-customer-page.action.ts
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/auth-store/auth.facade.ts
  src/app/auth/auth-store/auth.reducer.ts
  src/app/catalog/catalog-store/catalog-store.module.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
  src/app/core/commercetools/services/commercetools.service.ts
  src/app/user/components/user-addresses/user-addresses.component.html
  src/app/user/components/user-addresses/user-addresses.component.scss
  src/app/user/components/user-addresses/user-addresses.component.spec.ts
  src/app/user/components/user-addresses/user-addresses.component.ts
  src/app/user/components/user-information/user-information.component.html
  src/app/user/components/user-information/user-information.component.scss
  src/app/user/components/user-information/user-information.component.spec.ts
  src/app/user/components/user-information/user-information.component.ts
  src/app/user/constants/submit-form-actions.constant.ts
  src/app/user/guards/user.guard.spec.ts
  src/app/user/guards/user.guard.ts
  src/app/user/models/passwordForm.model.ts
  src/app/user/models/submit-form-action-dictionary.model.ts
  src/app/user/models/transform-address-submit-form.model.ts
  src/app/user/models/user-address.model.ts
  src/app/user/models/user-information.model.ts
  src/app/user/types/address-action-submit-form.type.ts
  src/app/user/user.component.html
  src/app/user/user.component.scss
  src/app/user/user.module.ts
  src/app/user/utils/transform-address-submit-form.util.ts
  src/app/user/utils/transform-information-submit-form.util.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(catalog): move init catalog to catalog page (NO-JIRA)
  src/app/catalog/components/categories-list/categories-list.component.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.ts
Due: prettier --write, eslint --fix

refactor(categories): add full path in SimpleCategory (NO-JIRA)
  src/app/catalog/components/categories-list/categories-list.component.ts
  src/app/core/commercetools/helpers/array-to-tree.helper.ts
  src/app/core/commercetools/helpers/convert-category-to-simple-category.helper.ts
  src/app/shared/models/simple-category.model.ts
Due: prettier --write, eslint --fix

feat(categories): add styles for active category (EC-54)
  src/app/catalog/components/categories-list/categories-list.component.html
  src/app/catalog/components/categories-list/categories-list.component.scss
  src/app/catalog/components/categories-list/categories-list.component.ts
  src/app/catalog/components/tree/tree.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

refactor(categories): change routes structure (EC-54)
  src/app/catalog/catalog.routes.ts
  src/app/catalog/components/categories-list/categories-list.component.ts
Due: prettier --write, eslint --fix

refactor(catalog-store): load categories only once (NO-JIRA)
  src/app/catalog/catalog-store/actions/catalog-api.actions.ts
  src/app/catalog/catalog-store/actions/catalog-page.actions.ts
  src/app/catalog/catalog-store/catalog-store.effects.ts
  src/app/catalog/catalog-store/catalog-store.reducer.ts
  src/app/catalog/catalog-store/services/catalog.facade.ts
Due: prettier --write, eslint --fix

feat(catalog): add routing (EC-54)
  src/app/catalog/catalog-store/actions/catalog-api.actions.ts
  src/app/catalog/catalog-store/actions/catalog-page.actions.ts
  src/app/catalog/catalog-store/catalog-store.effects.ts
  src/app/catalog/catalog-store/catalog-store.reducer.ts
  src/app/catalog/catalog-store/services/catalog.facade.ts
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/categories-list/categories-list.component.html
  src/app/catalog/models/catalog-state.model.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.html
  src/app/catalog/pages/catalog-page/catalog-page.component.scss
  src/app/catalog/pages/catalog-page/catalog-page.component.spec.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.ts
  src/app/catalog/services/catalog-http.service.ts
  src/app/catalog/services/catalog-url.service.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
  src/app/core/commercetools/services/commercetools.service.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(catalog): add breadcrumps (EC-54)
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/breadcrumps/breadcrumps.component.html
  src/app/catalog/components/breadcrumps/breadcrumps.component.scss
  src/app/catalog/components/breadcrumps/breadcrumps.component.spec.ts
  src/app/catalog/components/breadcrumps/breadcrumps.component.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.html
  src/app/catalog/pages/catalog-page/catalog-page.component.scss
  src/app/catalog/pages/catalog-page/catalog-page.component.spec.ts
  src/app/catalog/services/catalog-url.service.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(catalog): change type in products request (NO-JIRA)
  src/app/catalog/services/catalog-http.service.ts
Due: prettier --write, eslint --fix

refactor(catalog): fix missing type (NO-JIRA)
  src/app/catalog/catalog-store/actions/catalog-api.actions.ts
  src/app/catalog/components/product-card/product-card.component.html
  src/app/catalog/components/product-card/product-card.component.scss
  src/app/catalog/components/product-card/product-card.component.spec.ts
  src/app/catalog/components/product-card/product-card.component.ts
  src/app/catalog/components/products-list/products-list.component.html
  src/app/catalog/components/products-list/products-list.component.scss
  src/app/catalog/components/products-list/products-list.component.spec.ts
  src/app/catalog/components/products-list/products-list.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(catalog): add simple-product convertion (NO-JIRA)
  src/app/catalog/catalog-store/actions/catalog-api.actions.ts
  src/app/catalog/models/catalog-state.model.ts
  src/app/catalog/services/catalog-http.service.ts
  src/app/core/commercetools/helpers/convert-product-projection-to-simple-product.helper.ts
  src/app/core/commercetools/services/commercetools.service.ts
  src/app/shared/models/simple-product.model.ts
Due: prettier --write, eslint --fix

feat(catalog): add products to store (NO-JIRA)
  src/app/catalog/catalog-store/catalog-store.reducer.ts
  src/app/catalog/catalog-store/catalog-store.selectors.ts
  src/app/catalog/catalog-store/services/catalog.facade.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.ts
Due: prettier --write, eslint --fix

feat(catalog): add components for displaying products (EC-47)
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/product-card/product-card.component.html
  src/app/catalog/components/product-card/product-card.component.scss
  src/app/catalog/components/product-card/product-card.component.spec.ts
  src/app/catalog/components/product-card/product-card.component.ts
  src/app/catalog/components/products-list/products-list.component.html
  src/app/catalog/components/products-list/products-list.component.scss
  src/app/catalog/components/products-list/products-list.component.spec.ts
  src/app/catalog/components/products-list/products-list.component.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.html
  src/app/catalog/pages/catalog-page/catalog-page.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

feat(product-card): add product card template (EC-47)
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/product-card/product-card.component.html
  src/app/catalog/components/product-card/product-card.component.scss
  src/app/catalog/components/product-card/product-card.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(products-list): add loader (NO-JIRA)
  src/app/catalog/catalog-store/catalog-store.selectors.ts
  src/app/catalog/catalog-store/services/catalog.facade.ts
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/products-list/products-list.component.html
  src/app/catalog/components/products-list/products-list.component.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.html
  src/app/catalog/pages/catalog-page/catalog-page.component.ts
Due: prettier --write, eslint --fix

feat(products-list): add grid layout (EC-47)
  src/app/catalog/components/products-list/products-list.component.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.{js,ts})) or (any of: *.{css,scss})
  eslint --fix: any of: *.{js,ts}
  stylelint --fix: any of: *.{css,scss}
