Repository Dwarves-of-the-War-of-Horns/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

refactor(app): change hint messages in forms (NO-JIRA)
  src/app/auth/components/sign-in-form/sign-in-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/user/components/user-information/user-information.component.html
Due: none

refactor(catalog): remove no products found view before loading products (NO-JIRA)
  src/app/catalog/catalog-store/catalog-store.reducer.ts
  src/app/catalog/components/products-list/products-list.component.html
  src/app/catalog/components/products-list/products-list.component.ts
  src/app/catalog/models/catalog-state.model.ts
Due: prettier --write, eslint --fix

refactor(catalog): add loader in categories list (NO-JIRA)
  src/app/catalog/components/categories-list/categories-list.component.html
Due: none

refactor(catalog): change categories layout (NO-JIRA)
  src/app/catalog/components/categories-list/categories-list.component.scss
  src/app/catalog/pages/catalog-page/catalog-page.component.html
  src/app/catalog/pages/catalog-page/catalog-page.component.scss
Due: prettier --write, stylelint --fix

refactor(commercetools): chane products limit (NO-JIRA)
  src/app/core/commercetools/constants/commercetools-catalog-limit.ts
Due: prettier --write, eslint --fix

refactor(app): add changeDetection (NO-JIRA)
  src/app/about/about-page.component.ts
  src/app/about/components/collaborators-list/collaborators-list.component.ts
  src/app/about/components/course-logo/course-logo.component.ts
  src/app/app.component.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/pages/sign-in/sign-in.component.ts
  src/app/auth/pages/sign-up/sign-up.component.ts
  src/app/cart/cart-page.component.ts
  src/app/catalog/components/product-attributes/product-attributes.component.ts
  src/app/catalog/components/product-details-price/product-details-price.component.ts
  src/app/catalog/pages/product-details-page/product-details-page.component.ts
  src/app/user/components/user-addresses/user-addresses.component.ts
  src/app/user/components/user-information/user-information.component.ts
  src/app/user/user.component.ts
Due: prettier --write, eslint --fix

refactor(about): change layout (NO-JIRA)
  src/app/about/about-page.component.html
  src/app/about/about-page.component.scss
  src/app/about/components/collaborators-list/collaborators-list.component.scss
  src/app/about/components/course-logo/course-logo.component.html
  src/app/about/components/course-logo/course-logo.component.scss
Due: prettier --write, stylelint --fix

refactor(app): make consistent headers styles (NO-JIRA)
  src/app/cart/cart-page.component.html
  src/app/cart/cart-page.component.scss
  src/app/user/user.component.html
  src/app/user/user.component.scss
Due: prettier --write, stylelint --fix

refactor(app): replace closing tags with auto-closing tags (NO-JIRA)
  src/app/cart/components/cart-items/cart-items.component.html
  src/app/catalog/components/catalog-form/catalog-form.component.html
  src/app/catalog/components/product-details-carousel/product-details-carousel.component.html
  src/app/catalog/pages/product-details-page/product-details-page.component.html
  src/app/core/components/header/header.component.html
  src/app/home/home-page.component.html
  src/app/user/components/user-addresses/user-addresses.component.html
  src/app/user/components/user-information/user-information.component.html
Due: none

refactor(cart): change styles for small screens (NO-JIRA)
  src/app/cart/components/cart-items/cart-items.component.scss
Due: prettier --write, stylelint --fix

refactor(cart): change styles for small screens (NO-JIRA) (#100)
  src/app/cart/components/cart-items/cart-items.component.scss
Due: prettier --write, stylelint --fix

feat(about): add spiritual leader (NO-JIRA)
  src/app/about/components/collaborators-list/collaborators-list.component.ts
  src/assets/icons/egor-supra.webp
Due: prettier --write, eslint --fix

fix(cart): remove tuiBreakpointService (NO-JIRA)
  src/app/cart/components/cart-items/cart-items.component.html
  src/app/cart/components/cart-items/cart-items.component.scss
  src/app/cart/components/cart-items/cart-items.component.spec.ts
  src/app/cart/components/cart-items/cart-items.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(about): add motivation and mentor paragraph (NO-JIRA)
  src/app/about/about-page.component.html
  src/app/about/about.module.ts
  src/app/about/components/collaborators-list/collaborators-list.component.ts
  src/app/about/components/general-info/general-info.component.html
  src/app/about/components/general-info/general-info.component.scss
  src/app/about/components/general-info/general-info.component.spec.ts
  src/app/about/components/general-info/general-info.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(about): change content and design in general info (NO-JIRA)
  src/app/about/about-page.component.html
  src/app/about/about-page.component.spec.ts
  src/app/about/components/general-info/general-info.component.html
  src/app/about/components/general-info/general-info.component.scss
  src/app/about/components/general-info/general-info.component.spec.ts
  src/app/about/components/general-info/general-info.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(about): change content and design in general info (NO-JIRA)
  src/app/about/about-page.component.html
  src/app/about/about-page.component.spec.ts
  src/app/about/about.module.ts
  src/app/about/components/collaborators-list/collaborators-list.component.ts
  src/app/about/components/general-info/general-info.component.html
  src/app/about/components/general-info/general-info.component.scss
  src/app/about/components/general-info/general-info.component.spec.ts
  src/app/about/components/general-info/general-info.component.ts
  src/assets/icons/egor-supra.webp
Due: prettier --write, eslint --fix, stylelint --fix

initial commit
  README.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.{js,ts})) or (any of: *.{css,scss})
  eslint --fix: any of: *.{js,ts}
  stylelint --fix: any of: *.{css,scss}
