Repository Dwarves-of-the-War-of-Horns/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["prettier --write", "eslint --fix"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

feat(config): add .env (EC-12)
  .gitignore
  angular.json
  package-lock.json
  package.json
  src/env.d.ts
Due: prettier --write, eslint --fix

chore(config): update prettier (EC-19)
  .prettierrc.json
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/app.component.spec.ts
  src/app/app.module.ts
Due: prettier --write, eslint --fix

docs(read me): add comperhensive readme (EC-21)
  .vscode/settings.json
  README.md
Due: prettier --write

feat(config): add scripts for eslint(EC-18)
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: prettier --write

feat(config): add update script to package.json(NO-JIRA)
  package.json
Due: prettier --write

feat(config): add words for cSpell to vscode settings(NO-JIRA)
  .vscode/settings.json
Due: prettier --write

feat(docs): add descriptions for update script to README(NO-JIRA)
  README.md
Due: prettier --write

feat(folders): add base folder structure(EC-4)
  src/app/app.module.ts
  src/app/auth/auth.component.html
  src/app/auth/auth.component.scss
  src/app/auth/auth.component.spec.ts
  src/app/auth/auth.component.ts
  src/app/auth/auth.module.ts
  src/app/auth/service/auth.service.spec.ts
  src/app/auth/service/auth.service.ts
  src/app/cart/cart.component.html
  src/app/cart/cart.component.scss
  src/app/cart/cart.component.spec.ts
  src/app/cart/cart.component.ts
  src/app/cart/cart.module.ts
  src/app/cart/service/cart.service.spec.ts
  src/app/cart/service/cart.service.ts
  src/app/core/core.module.ts
  src/app/shared/shared.module.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(folders): add base folder structure (EC-4)
  .vscode/settings.json
  README.md
  package.json
  src/app/app.module.ts
  src/app/auth/auth.component.html
  src/app/auth/auth.component.scss
  src/app/auth/auth.component.spec.ts
  src/app/auth/auth.component.ts
  src/app/auth/auth.module.ts
  src/app/auth/service/auth.service.spec.ts
  src/app/auth/service/auth.service.ts
  src/app/cart/cart.component.html
  src/app/cart/cart.component.scss
  src/app/cart/cart.component.spec.ts
  src/app/cart/cart.component.ts
  src/app/cart/cart.module.ts
  src/app/cart/service/cart.service.spec.ts
  src/app/cart/service/cart.service.ts
  src/app/core/core.module.ts
  src/app/shared/shared.module.ts
Due: prettier --write, eslint --fix, stylelint --fix

docs(readme): updte tech stack section in Readme (EC-21)
  README.md
Due: prettier --write

docs(readme): update tech stack & installation (NO-JIRA)
  README.md
Due: prettier --write

docs(readme): update tech stack section in Readme (EC-21)
  README.md
Due: prettier --write

refactor(config): add tests script (NO-JIRA)
  README.md
  package.json
Due: prettier --write

refactor: add new lines (NO-JIRA)
  .gitignore
  tsconfig.doc.json
Due: prettier --write

refactor(folders): add better folder structure(EC-4)
  src/app/auth/auth.component.html
  src/app/auth/auth.component.scss
  src/app/auth/auth.component.spec.ts
  src/app/auth/auth.component.ts
  src/app/auth/auth.module.ts
  src/app/auth/service/auth.service.spec.ts
  src/app/auth/service/auth.service.ts
  src/app/cart/cart.component.html
  src/app/cart/cart.component.scss
  src/app/cart/cart.component.spec.ts
  src/app/cart/cart.component.ts
  src/app/cart/cart.module.ts
  src/app/cart/service/cart.service.spec.ts
  src/app/cart/service/cart.service.ts
  src/app/core/core.module.ts
  src/app/shared/shared.module.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(config): make eslint rules more consistent (NO-JIRA)
  .eslintrc.json
Due: prettier --write

refactor(folders): add better folder structure (EC-4)
  src/app/auth/auth.component.html
  src/app/auth/auth.component.scss
  src/app/auth/auth.component.spec.ts
  src/app/auth/auth.component.ts
  src/app/auth/auth.module.ts
  src/app/auth/service/auth.service.spec.ts
  src/app/auth/service/auth.service.ts
  src/app/cart/cart.component.html
  src/app/cart/cart.component.scss
  src/app/cart/cart.component.spec.ts
  src/app/cart/cart.component.ts
  src/app/cart/cart.module.ts
  src/app/cart/service/cart.service.spec.ts
  src/app/cart/service/cart.service.ts
  src/app/core/core.module.ts
  src/app/shared/shared.module.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(config): add new lines & more consistent eslint rules (NO-JIRA)
  .eslintrc.json
  .gitignore
  tsconfig.doc.json
Due: prettier --write

fix(config): remove basehref property from angular json (NO-JIRA)
  angular.json
Due: prettier --write

refactor(app): remove useless imports (NO-JIRA)
  src/app/app.module.ts
Due: prettier --write, eslint --fix

feat(routing): add routing (EC-42)
  src/app/app.component.html
  src/app/app.routes.ts
  src/app/auth/auth-routing.module.ts
  src/app/auth/auth.module.ts
  src/app/auth/auth.routes.ts
  src/app/auth/pages/sign-in/sign-in.component.html
  src/app/auth/pages/sign-in/sign-in.component.scss
  src/app/auth/pages/sign-in/sign-in.component.spec.ts
  src/app/auth/pages/sign-in/sign-in.component.ts
  src/app/auth/pages/sign-up/sign-up.component.html
  src/app/auth/pages/sign-up/sign-up.component.scss
  src/app/auth/pages/sign-up/sign-up.component.spec.ts
  src/app/auth/pages/sign-up/sign-up.component.ts
  src/app/cart/cart-page.component.html
  src/app/cart/cart-page.component.scss
  src/app/cart/cart-page.component.spec.ts
  src/app/cart/cart-page.component.ts
  src/app/cart/cart.module.ts
  src/app/core/components/not-found/not-found.component.html
  src/app/core/components/not-found/not-found.component.scss
  src/app/core/components/not-found/not-found.component.spec.ts
  src/app/core/components/not-found/not-found.component.ts
  src/app/home/home-page.component.html
  src/app/home/home-page.component.scss
  src/app/home/home-page.component.spec.ts
  src/app/home/home-page.component.ts
  src/app/home/home.module.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(routing): add routing (EC-42)
  angular.json
  src/app/app.component.html
  src/app/app.module.ts
  src/app/app.routes.ts
  src/app/auth/auth-routing.module.ts
  src/app/auth/auth.module.ts
  src/app/auth/auth.routes.ts
  src/app/auth/pages/sign-in/sign-in.component.html
  src/app/auth/pages/sign-in/sign-in.component.scss
  src/app/auth/pages/sign-in/sign-in.component.spec.ts
  src/app/auth/pages/sign-in/sign-in.component.ts
  src/app/auth/pages/sign-up/sign-up.component.html
  src/app/auth/pages/sign-up/sign-up.component.scss
  src/app/auth/pages/sign-up/sign-up.component.spec.ts
  src/app/auth/pages/sign-up/sign-up.component.ts
  src/app/cart/cart-page.component.html
  src/app/cart/cart-page.component.scss
  src/app/cart/cart-page.component.spec.ts
  src/app/cart/cart-page.component.ts
  src/app/cart/cart.module.ts
  src/app/core/components/not-found/not-found.component.html
  src/app/core/components/not-found/not-found.component.scss
  src/app/core/components/not-found/not-found.component.spec.ts
  src/app/core/components/not-found/not-found.component.ts
  src/app/home/home-page.component.html
  src/app/home/home-page.component.scss
  src/app/home/home-page.component.spec.ts
  src/app/home/home-page.component.ts
  src/app/home/home.module.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix(config): change rules for prettier and eslint in package.json (NO-JIRA)
  package.json
Due: prettier --write

fix(config): remove error in eslint rules in package.json (NO-JIRA)
  package.json
Due: prettier --write

feat(pages): add not-found page (EC-43)
  src/app/core/components/not-found/not-found.component.html
  src/app/core/components/not-found/not-found.component.scss
  src/app/core/components/not-found/not-found.component.ts
  src/assets/not-found.svg
Due: prettier --write, eslint --fix, stylelint --fix

refactor(assets): move not-found.svg to icons folder (NO-JIRA)
  src/app/core/components/not-found/not-found.component.html
  src/assets/icons/not-found.svg
Due: none

feat(pages): add not-found page (EC-43)
  src/app/core/components/not-found/not-found.component.html
  src/app/core/components/not-found/not-found.component.scss
  src/app/core/components/not-found/not-found.component.ts
  src/assets/icons/not-found.svg
Due: prettier --write, eslint --fix, stylelint --fix

refactor(config): add release* to protected branches list (NO-JIRA)
  .husky/pre-commit
Due: none

test(not-found): fix missing imports (EC-43)
  src/app/core/components/not-found/not-found.component.spec.ts
Due: prettier --write, eslint --fix

refactor(assets): remove unnecessary file (NO-JIRA)
  src/assets/not-found.svg
Due: none

refactor(config): add release* to protected branches list (NO-JIRA)
  .husky/pre-commit
  src/app/core/components/not-found/not-found.component.html
  src/app/core/components/not-found/not-found.component.spec.ts
Due: prettier --write, eslint --fix

feat(config): add sdk packages (EC-100)
  package-lock.json
  package.json
Due: prettier --write

feat(commercetools): add commercetools module (EC-100)
  src/app/core/commercetools/commercetools-client-builder.ts
  src/app/core/commercetools/commercetools-tokenstorage.ts
  src/app/core/commercetools/commerstools.module.ts
  src/app/core/commercetools/constants/commercetools-token-storage-key.ts
  src/app/core/commercetools/enums/commercetools-token-flow.enum.ts
  src/app/core/commercetools/services/commercetools-http.service.spec.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
Due: prettier --write, eslint --fix

feat(storage): add storage module (NO-JIRA)
  package-lock.json
  src/app/app.module.ts
  src/app/core/core.module.ts
  src/app/core/storage/models/storage-config.model.ts
  src/app/core/storage/services/local-storage.service.ts
  src/app/core/storage/services/storage.service.ts
  src/app/core/storage/storage.module.ts
  src/app/core/storage/tokens/storage-key.token.ts
  src/app/core/storage/tokens/window.token.ts
Due: prettier --write, eslint --fix

refactor(config): add props in env import interface (EC-100)
  src/env.d.ts
Due: prettier --write, eslint --fix

refactor(commercetools): replace import.meta variables with environment variables (NO-JIRA)
  src/app/core/commercetools/commercetools-client-builder.ts
  src/app/core/commercetools/services/commercetools-http.service.spec.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write, eslint --fix

feat(commercetools): add commercetools module (EC-100)
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/core/commercetools/commercetools-client-builder.ts
  src/app/core/commercetools/commercetools-tokenstorage.ts
  src/app/core/commercetools/commerstools.module.ts
  src/app/core/commercetools/constants/commercetools-token-storage-key.ts
  src/app/core/commercetools/enums/commercetools-token-flow.enum.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
  src/app/core/core.module.ts
  src/app/core/storage/models/storage-config.model.ts
  src/app/core/storage/services/local-storage.service.ts
  src/app/core/storage/services/storage.service.ts
  src/app/core/storage/storage.module.ts
  src/app/core/storage/tokens/storage-key.token.ts
  src/app/core/storage/tokens/window.token.ts
  src/env.d.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write, eslint --fix

feat(config): add text-mask-core to allow CommonJs dependencies(NO-JIRA)
  angular.json
Due: prettier --write
