Repository Dwarves-of-the-War-of-Horns/e-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

feat(product-card): add more styles & hover effects (EC-52)
  src/app/catalog/components/product-card/product-card.component.html
  src/app/catalog/components/product-card/product-card.component.scss
  src/app/catalog/components/product-card/product-card.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(products-list): add trackBy (NO-JIRA)
  src/app/catalog/components/products-list/products-list.component.html
  src/app/catalog/components/products-list/products-list.component.ts
Due: prettier --write, eslint --fix

test(catalog): add missing imports (NO-JIRA)
  src/app/catalog/components/product-card/product-card.component.spec.ts
  src/app/catalog/components/products-list/products-list.component.spec.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.spec.ts
Due: prettier --write, eslint --fix

feat(catalog): add product filtering by category (EC-54)
  src/app/catalog/catalog-store/actions/catalog-page.actions.ts
  src/app/catalog/catalog-store/catalog-store.effects.ts
  src/app/catalog/catalog-store/services/catalog.facade.ts
  src/app/catalog/services/catalog-http.service.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
  src/app/core/commercetools/services/commercetools.service.ts
Due: prettier --write, eslint --fix

refactor(products-list): change grid columns template (NO-JIRA)
  src/app/catalog/components/products-list/products-list.component.scss
Due: prettier --write, stylelint --fix

feat(catalog): add product filtering by category (EC-54)
  src/app/catalog/catalog-store/actions/catalog-page.actions.ts
  src/app/catalog/catalog-store/catalog-store.effects.ts
  src/app/catalog/catalog-store/services/catalog.facade.ts
  src/app/catalog/components/products-list/products-list.component.scss
  src/app/catalog/services/catalog-http.service.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
  src/app/core/commercetools/services/commercetools.service.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(catalog): minor changes after menthor's check (NO-JIRA)
  src/app/catalog/catalog-store/actions/catalog-api.actions.ts
  src/app/catalog/catalog-store/actions/catalog-page.actions.ts
  src/app/catalog/catalog-store/catalog-store.effects.ts
  src/app/catalog/catalog-store/catalog-store.reducer.ts
  src/app/catalog/catalog-store/services/catalog.facade.ts
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/breadcrumps/breadcrumps.component.html
  src/app/catalog/components/breadcrumps/breadcrumps.component.ts
  src/app/catalog/components/products-list/products-list.component.html
  src/app/catalog/components/products-list/products-list.component.spec.ts
  src/app/catalog/models/breadcrumps-route.model.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.spec.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.ts
  src/app/catalog/services/catalog-http.service.ts
  src/app/catalog/services/catalog-url.service.ts
  src/app/core/commercetools/helpers/convert-category-to-simple-category.helper.ts
  src/app/core/commercetools/helpers/convert-product-projection-to-simple-product.helper.ts
  src/app/core/commercetools/services/commercetools.service.ts
Due: prettier --write, eslint --fix

feat(catalog): add products-list & product-card (EC-47)
  src/app/catalog/catalog-store/actions/catalog-api.actions.ts
  src/app/catalog/catalog-store/actions/catalog-page.actions.ts
  src/app/catalog/catalog-store/catalog-store.effects.ts
  src/app/catalog/catalog-store/catalog-store.reducer.ts
  src/app/catalog/catalog-store/catalog-store.selectors.ts
  src/app/catalog/catalog-store/services/catalog.facade.ts
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/breadcrumps/breadcrumps.component.html
  src/app/catalog/components/breadcrumps/breadcrumps.component.ts
  src/app/catalog/components/product-card/product-card.component.html
  src/app/catalog/components/product-card/product-card.component.scss
  src/app/catalog/components/product-card/product-card.component.spec.ts
  src/app/catalog/components/product-card/product-card.component.ts
  src/app/catalog/components/products-list/products-list.component.html
  src/app/catalog/components/products-list/products-list.component.scss
  src/app/catalog/components/products-list/products-list.component.spec.ts
  src/app/catalog/components/products-list/products-list.component.ts
  src/app/catalog/models/breadcrumps-route.model.ts
  src/app/catalog/models/catalog-state.model.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.html
  src/app/catalog/pages/catalog-page/catalog-page.component.scss
  src/app/catalog/pages/catalog-page/catalog-page.component.spec.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.ts
  src/app/catalog/services/catalog-http.service.ts
  src/app/catalog/services/catalog-url.service.ts
  src/app/core/commercetools/helpers/convert-category-to-simple-category.helper.ts
  src/app/core/commercetools/helpers/convert-product-projection-to-simple-product.helper.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
  src/app/core/commercetools/services/commercetools.service.ts
  src/app/shared/models/simple-product.model.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(catalog): add categories routing (EC-54)
  src/app/catalog/catalog-store/actions/catalog-api.actions.ts
  src/app/catalog/catalog-store/actions/catalog-page.actions.ts
  src/app/catalog/catalog-store/catalog-store.effects.ts
  src/app/catalog/catalog-store/catalog-store.reducer.ts
  src/app/catalog/catalog-store/catalog-store.selectors.ts
  src/app/catalog/catalog-store/services/catalog.facade.ts
  src/app/catalog/catalog.module.ts
  src/app/catalog/catalog.routes.ts
  src/app/catalog/components/breadcrumps/breadcrumps.component.html
  src/app/catalog/components/breadcrumps/breadcrumps.component.scss
  src/app/catalog/components/breadcrumps/breadcrumps.component.spec.ts
  src/app/catalog/components/breadcrumps/breadcrumps.component.ts
  src/app/catalog/components/categories-list/categories-list.component.html
  src/app/catalog/components/categories-list/categories-list.component.scss
  src/app/catalog/components/categories-list/categories-list.component.ts
  src/app/catalog/components/product-card/product-card.component.html
  src/app/catalog/components/product-card/product-card.component.scss
  src/app/catalog/components/product-card/product-card.component.spec.ts
  src/app/catalog/components/product-card/product-card.component.ts
  src/app/catalog/components/products-list/products-list.component.html
  src/app/catalog/components/products-list/products-list.component.scss
  src/app/catalog/components/products-list/products-list.component.spec.ts
  src/app/catalog/components/products-list/products-list.component.ts
  src/app/catalog/components/tree/tree.component.scss
  src/app/catalog/models/breadcrumps-route.model.ts
  src/app/catalog/models/catalog-state.model.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.html
  src/app/catalog/pages/catalog-page/catalog-page.component.scss
  src/app/catalog/pages/catalog-page/catalog-page.component.spec.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.ts
  src/app/catalog/services/catalog-http.service.ts
  src/app/catalog/services/catalog-url.service.ts
  src/app/core/commercetools/helpers/array-to-tree.helper.ts
  src/app/core/commercetools/helpers/convert-category-to-simple-category.helper.ts
  src/app/core/commercetools/helpers/convert-product-projection-to-simple-product.helper.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
  src/app/core/commercetools/services/commercetools.service.ts
  src/app/shared/models/simple-category.model.ts
  src/app/shared/models/simple-product.model.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(catalog): add sidebar(NO-JIRA)
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/product-card/product-card.component.scss
  src/app/catalog/components/products-list/products-list.component.scss
  src/app/catalog/pages/catalog-page/catalog-page.component.html
  src/app/catalog/pages/catalog-page/catalog-page.component.scss
  src/app/catalog/pages/catalog-page/catalog-page.component.spec.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(catalog): change button for sidebar(NO-JIRA)
  src/app/catalog/pages/catalog-page/catalog-page.component.html
  src/app/catalog/pages/catalog-page/catalog-page.component.scss
Due: prettier --write, stylelint --fix

fix(user): change user-information-form(NO-JIRA)
  src/app/user/components/user-information/user-information.component.ts
Due: prettier --write, eslint --fix

feat(user): add shadows-box for inforamtion and adresses blocks(NO-JIRA)
  src/app/user/components/user-addresses/user-addresses.component.html
  src/app/user/components/user-addresses/user-addresses.component.scss
  src/app/user/components/user-information/user-information.component.html
  src/app/user/components/user-information/user-information.component.scss
Due: prettier --write, stylelint --fix

feat(catalot): add shadows-box for side-panel(NO-JIRA)
  src/app/catalog/pages/catalog-page/catalog-page.component.html
  src/app/catalog/pages/catalog-page/catalog-page.component.scss
Due: prettier --write, stylelint --fix

feat(home): add shadows-box for tui-island(NO-JIRA)
  src/app/home/home-page.component.html
  src/app/home/home-page.component.scss
Due: prettier --write, stylelint --fix

feat(catalog): add product details to store (NO-JIRA)
  src/app/catalog/catalog-store/actions/product-details-api.actions.ts
  src/app/catalog/catalog-store/actions/product-details-page.actions.ts
  src/app/catalog/catalog-store/catalog-store.effects.ts
  src/app/catalog/catalog-store/catalog-store.reducer.ts
  src/app/catalog/catalog-store/catalog-store.selectors.ts
  src/app/catalog/catalog-store/services/catalog.facade.ts
  src/app/catalog/components/product-card/product-card.component.spec.ts
  src/app/catalog/models/catalog-state.model.ts
  src/app/catalog/services/catalog-http.service.ts
  src/app/core/commercetools/helpers/convert-product-projection-to-simple-product.helper.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
  src/app/core/commercetools/services/commercetools.service.ts
  src/app/shared/models/simple-product.model.ts
Due: prettier --write, eslint --fix

refactor(src): add shadow-block to global styles(NO-JIRA)
  src/app/catalog/pages/catalog-page/catalog-page.component.scss
  src/app/home/home-page.component.scss
  src/app/user/components/user-addresses/user-addresses.component.scss
  src/app/user/components/user-information/user-information.component.scss
  src/styles.scss
Due: prettier --write, stylelint --fix

feat(catalog): add image slider (EC-58)
  src/app/catalog/catalog-store/catalog-store.effects.ts
  src/app/catalog/catalog-store/services/catalog.facade.ts
  src/app/catalog/catalog.module.ts
  src/app/catalog/catalog.routes.ts
  src/app/catalog/components/product-attributes/product-attributes.component.html
  src/app/catalog/components/product-attributes/product-attributes.component.scss
  src/app/catalog/components/product-attributes/product-attributes.component.spec.ts
  src/app/catalog/components/product-attributes/product-attributes.component.ts
  src/app/catalog/components/product-details-carousel/product-details-carousel.component.html
  src/app/catalog/components/product-details-carousel/product-details-carousel.component.scss
  src/app/catalog/components/product-details-carousel/product-details-carousel.component.ts
  src/app/catalog/components/product-details/product-details.component.html
  src/app/catalog/components/product-details/product-details.component.scss
  src/app/catalog/components/product-details/product-details.component.spec.ts
  src/app/catalog/components/product-details/product-details.component.ts
  src/app/catalog/pages/product-details-page/product-details-page.component.html
  src/app/catalog/pages/product-details-page/product-details-page.component.scss
  src/app/catalog/pages/product-details-page/product-details-page.component.spec.ts
  src/app/catalog/pages/product-details-page/product-details-page.component.ts
  src/app/catalog/pages/product-details/product-details.component.html
  src/app/catalog/pages/product-details/product-details.component.ts
  src/app/core/commercetools/services/commercetools.service.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(catalog): add product attributes (NO-JIRA)
  src/app/catalog/components/product-attributes/product-attributes.component.html
  src/app/catalog/components/product-attributes/product-attributes.component.ts
  src/app/catalog/components/product-details/product-details.component.html
Due: prettier --write, eslint --fix

feat(app): add shadows-box (NO-JIRA)
  src/app/catalog/pages/catalog-page/catalog-page.component.html
  src/app/home/home-page.component.html
  src/app/user/components/user-addresses/user-addresses.component.html
  src/app/user/components/user-information/user-information.component.html
  src/styles.scss
Due: prettier --write, stylelint --fix

feat(catalog): add currency display (EC-57)
  src/app/catalog/components/product-details/product-details.component.html
  src/app/catalog/components/product-details/product-details.component.scss
  src/app/catalog/components/product-details/product-details.component.ts
  src/app/catalog/components/products-list/products-list.component.html
Due: prettier --write, eslint --fix, stylelint --fix

feat(home): add better styles for islands(NO-JIRA)
  src/app/home/home-page.component.html
  src/app/home/home-page.component.scss
Due: prettier --write, stylelint --fix

refactor(catalog): change naming in catalog ngrx store (NO-JIRA)
  src/app/catalog/catalog-store/catalog-store.effects.ts
  src/app/catalog/catalog-store/services/catalog.facade.ts
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/product-details/product-details.component.ts
  src/app/catalog/models/catalog-state.model.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
Due: prettier --write, eslint --fix

feat(catalog): add pagination to slider (NO-JIRA)
  src/app/catalog/components/product-attributes/product-attributes.component.html
  src/app/catalog/components/product-attributes/product-attributes.component.ts
  src/app/catalog/components/product-details-carousel/product-details-carousel.component.html
  src/app/catalog/components/product-details-carousel/product-details-carousel.component.scss
  src/app/catalog/components/product-details-carousel/product-details-carousel.component.ts
  src/app/catalog/components/product-details/product-details.component.html
  src/app/catalog/components/product-details/product-details.component.scss
Due: prettier --write, eslint --fix, stylelint --fix

refactor(catalog): change product details layout (NO-JIRA)
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/product-details-carousel/product-details-carousel.component.html
  src/app/catalog/components/product-details-carousel/product-details-carousel.component.scss
  src/app/catalog/components/product-details-price/product-details-price.component.html
  src/app/catalog/components/product-details-price/product-details-price.component.scss
  src/app/catalog/components/product-details-price/product-details-price.component.spec.ts
  src/app/catalog/components/product-details-price/product-details-price.component.ts
  src/app/catalog/components/product-details/product-details.component.html
  src/app/catalog/components/product-details/product-details.component.scss
  src/app/shared/models/simple-product-prices.ts
  src/app/shared/models/simple-product.model.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(catalog): move dependency injection to constructor (NO-JIRA)
  src/app/catalog/components/product-details/product-details.component.ts
Due: prettier --write, eslint --fix

feat(product-details): add product page (EC-102)
  src/app/catalog/catalog-store/actions/product-details-api.actions.ts
  src/app/catalog/catalog-store/actions/product-details-page.actions.ts
  src/app/catalog/catalog-store/catalog-store.effects.ts
  src/app/catalog/catalog-store/catalog-store.reducer.ts
  src/app/catalog/catalog-store/catalog-store.selectors.ts
  src/app/catalog/catalog-store/services/catalog.facade.ts
  src/app/catalog/catalog.module.ts
  src/app/catalog/catalog.routes.ts
  src/app/catalog/components/product-attributes/product-attributes.component.html
  src/app/catalog/components/product-attributes/product-attributes.component.scss
  src/app/catalog/components/product-attributes/product-attributes.component.spec.ts
  src/app/catalog/components/product-attributes/product-attributes.component.ts
  src/app/catalog/components/product-card/product-card.component.spec.ts
  src/app/catalog/components/product-details-carousel/product-details-carousel.component.html
  src/app/catalog/components/product-details-carousel/product-details-carousel.component.scss
  src/app/catalog/components/product-details-carousel/product-details-carousel.component.ts
  src/app/catalog/components/product-details-price/product-details-price.component.html
  src/app/catalog/components/product-details-price/product-details-price.component.scss
  src/app/catalog/components/product-details-price/product-details-price.component.spec.ts
  src/app/catalog/components/product-details-price/product-details-price.component.ts
  src/app/catalog/components/product-details/product-details.component.html
  src/app/catalog/components/product-details/product-details.component.scss
  src/app/catalog/components/product-details/product-details.component.spec.ts
  src/app/catalog/components/product-details/product-details.component.ts
  src/app/catalog/components/products-list/products-list.component.html
  src/app/catalog/models/catalog-state.model.ts
  src/app/catalog/pages/product-details-page/product-details-page.component.html
  src/app/catalog/pages/product-details-page/product-details-page.component.scss
  src/app/catalog/pages/product-details-page/product-details-page.component.spec.ts
  src/app/catalog/pages/product-details-page/product-details-page.component.ts
  src/app/catalog/pages/product-details/product-details.component.html
  src/app/catalog/pages/product-details/product-details.component.ts
  src/app/catalog/services/catalog-http.service.ts
  src/app/core/commercetools/helpers/convert-product-projection-to-simple-product.helper.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
  src/app/core/commercetools/services/commercetools.service.ts
  src/app/shared/models/simple-product-prices.ts
  src/app/shared/models/simple-product.model.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(catalog): change cards styles & breadcrumps size (NO-JIRA)
  src/app/catalog/components/breadcrumps/breadcrumps.component.html
  src/app/catalog/components/breadcrumps/breadcrumps.component.scss
  src/app/catalog/components/product-card/product-card.component.html
  src/app/catalog/components/product-card/product-card.component.scss
  src/app/catalog/components/products-list/products-list.component.scss
Due: prettier --write, stylelint --fix

refactor(catalog): change product-list styles for small screens (NO-JIRA)
  src/app/catalog/components/product-card/product-card.component.scss
  src/app/catalog/components/products-list/products-list.component.scss
  src/app/catalog/pages/catalog-page/catalog-page.component.scss
Due: prettier --write, stylelint --fix

refactor(catalog): change colors for money component (NO-JIRA)
  src/app/catalog/components/product-details-price/product-details-price.component.html
  src/app/catalog/components/product-details-price/product-details-price.component.scss
Due: prettier --write, stylelint --fix

refactor(catalog): change catalog styles, fix links (NO-JIRA)
  src/app/catalog/components/breadcrumps/breadcrumps.component.html
  src/app/catalog/components/breadcrumps/breadcrumps.component.scss
  src/app/catalog/components/product-card/product-card.component.html
  src/app/catalog/components/product-card/product-card.component.scss
  src/app/catalog/components/product-details-price/product-details-price.component.html
  src/app/catalog/components/product-details-price/product-details-price.component.scss
  src/app/catalog/components/products-list/products-list.component.scss
  src/app/catalog/pages/catalog-page/catalog-page.component.scss
Due: prettier --write, stylelint --fix

refactor(catalog): add resolver for product details(NO-JIRA)
  src/app/catalog/catalog-store/catalog-store.selectors.ts
  src/app/catalog/catalog.routes.ts
  src/app/catalog/components/product-details/product-details.component.html
  src/app/catalog/resolver/product.resolver.spec.ts
  src/app/catalog/resolver/product.resolver.ts
Due: prettier --write, eslint --fix

feat(catalog): add better styles for product details(NO-JIRA)
  src/app/catalog/components/product-details-carousel/product-details-carousel.component.scss
  src/app/catalog/pages/product-details-page/product-details-page.component.html
  src/app/catalog/pages/product-details-page/product-details-page.component.scss
  src/app/catalog/pages/product-details-page/product-details-page.component.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(catalog): add filter attributes to store (EC-49)
  src/app/catalog/catalog-store/actions/catalog-api.actions.ts
  src/app/catalog/catalog-store/actions/catalog-page.actions.ts
  src/app/catalog/catalog-store/catalog-store.effects.ts
  src/app/catalog/catalog-store/catalog-store.reducer.ts
  src/app/catalog/catalog-store/catalog-store.selectors.ts
  src/app/catalog/catalog-store/services/catalog.facade.ts
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/catalog-form/catalog-form.component.html
  src/app/catalog/components/catalog-form/catalog-form.component.scss
  src/app/catalog/components/catalog-form/catalog-form.component.spec.ts
  src/app/catalog/components/catalog-form/catalog-form.component.ts
  src/app/catalog/models/catalog-state.model.ts
  src/app/catalog/pages/catalog-page/catalog-page.component.html
  src/app/catalog/pages/catalog-page/catalog-page.component.ts
  src/app/catalog/services/catalog-http.service.ts
  src/app/core/commercetools/helpers/convert-attribute-to-simple-attribute.helper.ts
  src/app/core/commercetools/services/commercetools-http.service.ts
  src/app/core/commercetools/services/commercetools.service.ts
  src/app/shared/models/simple-attribute.model.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix(catalog): load products only after categories (NO-JIRA)
  src/app/catalog/pages/catalog-page/catalog-page.component.ts
Due: prettier --write, eslint --fix

refactor(catalog): move atrribute value to separate interface (NO-JIRA)
  src/app/core/commercetools/helpers/convert-attribute-to-simple-attribute.helper.ts
  src/app/shared/models/attribute-value.model.ts
  src/app/shared/models/simple-attribute.model.ts
Due: prettier --write, eslint --fix

feat(catalog): add select for sorting (EC-50)
  src/app/catalog/catalog.module.ts
  src/app/catalog/components/catalog-form/catalog-form.component.html
  src/app/catalog/components/catalog-form/catalog-form.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.{js,ts})) or (any of: *.{css,scss})
  eslint --fix: any of: *.{js,ts}
  stylelint --fix: any of: *.{css,scss}
